[submodule "external/wlr-protocols"]
	path = external/wlr-protocols
	url = https://github.com/swaywm/wlr-protocols.git
	branch = master
[submodule "subprojects/tllist"]
	path = subprojects/tllist
	url = https://codeberg.org/dnkl/tllist.git
[submodule "subprojects/fcft"]
	path = subprojects/fcft
	url = https://codeberg.org/dnkl/fcft.git
